name: Fetch from SVN and push to git

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    # Run once an hour.
    - cron: "26 * * * *"


jobs:
  R-source-svn-update:
    runs-on: ubuntu-24.04
    steps:
      - name: Install git-svn
        # The PPA seems to be necessary; otherwise installing git-svn doesn't
        # work due to a version conflict with git.
        run: |
          sudo add-apt-repository ppa:git-core/ppa -y
          sudo apt-get update
          sudo apt-get -y install git-svn

      - name: Check out r-source-git-svn
        uses: actions/checkout@v3
        with:
          # Get HEAD commit instead of merge commit, so that we can commit back
          # into this branch.
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Check out r-source
        # This fetches all commits in the repo. Seems to be necessary for
        # git-svn to be happy; otherwise it says "error: invalid object" for
        # some files.
        run: |
          git clone https://wch:${{secrets.R_SOURCE_PAT}}@github.com/wch/r-source.git r-source
          cd r-source
          git checkout trunk
      - name: Symlink git-svn metadata to r-source/.git/svn
        run: |
          cd r-source/.git
          ln -s ../../svn

      - name: Symlink refs/remotes/Rsvn metadata to r-source/refs/remotes/Rsvn
        run: |
          cd r-source/.git/refs/remotes
          ln -s ../../../../refs/remotes/Rsvn

      - name: Add svn-remote to .git/config
        run: |
          cat <<EOF >> r-source/.git/config
          [svn-remote "svn"]
              url = https://svn.r-project.org/R
              fetch = trunk:refs/remotes/Rsvn/trunk
              branches = branches/*:refs/remotes/Rsvn/*
              tags = tags/*:refs/remotes/Rsvn/tags/*
          EOF

      - name: Fetch from SVN to local r-source
        run: |
          cd r-source
          git checkout trunk
          git svn fetch
          git svn rebase

      # Set git config, needed for making commit in next step.
      - name: Git Config
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"

      - name: Commit to local r-source-git-svn
        run: |
          git add svn refs
          echo "==== git status ===="
          git status
          echo "==== git branch -a ===="
          git branch -a

          echo "==== Finding git and svn IDs of most recent commit on trunk ===="
          SVN_ID=$(git -C r-source/ log --format=%B -n 1 | grep ^git-svn-id | sed -E 's/^git-svn-id: https:\/\/svn.r-project.org\/R\/[^@]*@([0-9]+).*$/\1/')
          echo SVN_ID: ${SVN_ID}
          GIT_ID=$(git -C r-source/ rev-parse --short HEAD)
          echo GIT_ID: ${GIT_ID}

          echo "==== Committing to local copy of r-source-git-svn ===="
          git commit -m"Update git-svn metadata; last git commit was ${GIT_ID}, svn-id ${SVN_ID}" || echo "No git-svn metadata changes to commit."

      # I believe it may be possible for a `git gc` to be triggered from the
      # commands above. If it happens, then the .git/refs/remotes/Rsvn directory
      # will be emptied, which will cause breakage. Make sure the files are
      # still there.
      - name: Check that refs/remotes/Rsvn still has contents
        run: |
          FILE_COUNT=$(find refs/remotes/Rsvn -type f | wc -l)
          if [ $FILE_COUNT == 0 ]; then
            echo "Files in r-source/.git/refs/remotes/Rsvn were removed, which will cause problems."
            echo "A git gc may have occurred when executing previous git commands."
            exit 1
          fi

      - name: Push to remote r-source
        run: |
          cd r-source
          git push -n origin refs/remotes/Rsvn/*:refs/heads/*

      - name: Push to remote r-source-git-svn (for pull requests)
        uses: r-lib/actions/pr-push@v2
        if: github.event_name == 'pull_request'
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}


      # The steps below are meant to run on the main branch, either with a
      # push or scheduled run.
      # Branch name from https://stackoverflow.com/a/60302058/412655
      - name: Find branch name for r-source-git-svn
        if: github.event_name == 'schedule' || github.event_name == 'push'
        id: vars
        run: echo "short_ref=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT

      - name: Check branch name
        if: github.event_name == 'schedule' || github.event_name == 'push'
        run: echo ${{ steps.vars.outputs.short_ref }}

      - name: Push to remote r-source-git-svn (for scheduled runs on main branch)
        if: github.event_name == 'schedule' || github.event_name == 'push'
        # Push to the branch that we're currently on. (Should be main)
        run: |
          git push origin HEAD:${{ steps.vars.outputs.short_ref }}
